<!DOCTYPE html>
<html lang="en" ng-app="svstApp">
<head>
    <meta charset="UTF-8">
    <title>SecureVote Stress Test</title>
    <meta property="og:image" content="http://demo.xo1.io/xo1-share.png">
    <meta property="og:title" content="SecureVote Stress Test">
    <meta property="og:description" content="At 2am on the 7th of March XO.1 and Flux will be demonstrating the throughput of the SecureVote voting system. Over 1 million votes per minute will be anchored to the Bitcoin blockchain, for a total of approximately 1.5 billion votes over the 24 hours.">
    <link type="text/css" rel="stylesheet" href="basscss.min.css">
    <link type="text/css" rel="stylesheet" href="LatoLatin/latolatinfonts.css">
    <link type="text/css" rel="stylesheet" href="main.css">
    <link type="text/css" rel="stylesheet" href="svst.css">
    <link type="text/css" rel="stylesheet" href="odometer-theme-default.css">
</head>
<body ng-controller="SvstController as ctrl" class="bg" id="body">

<div id="fireworks"></div>
<img src="triangle.png" style="position: fixed; right:0; bottom:0">
<div class="container relative white pt3">
    <div class="mx3">
        <div class="col-right p1 h4 mt2 center">
            <span ng-if="ctrl.testStarted && !ctrl.testFinished">Time Running:<br>
            {{ ctrl.timeRunning(); }}</span>
            <span ng-if="!ctrl.testStarted && !ctrl.testFinished">Starting In:<br>
            {{ ctrl.startingIn(); }}</span>
            <span ng-if="ctrl.testFinished">Total Duration:<br>
            {{ ctrl.totalDuration; }}</span>
        </div>    
        <div class="col-left">
            <p class="h2 sm-h3">
                XO.1 presents...
            </p>            
            <p class="h1 sm-h3">
                The SecureVote Stress Test
            </p>
        </div>
        <div class="col-right py2 mt1">
            <div id="voteVelocityGraph" class="border" style="height: 300px; max-width: 400px; border-color:#E3580D; border-width: 0px;"></div>
            <div class="mt2 h2 red max-width-2" ng-if="ctrl.alert.alert && ctrl.showAlert">
                <p>ALERT:<br>{{ ctrl.alert.msg }}<span class="close" ng-click="ctrl.showAlert = false;">&times;</span></p>
            </div>
        </div>
        <div class="mt4 h4">
            <p class="py1">
                <!-- Votes per Minute: <ng-odometer value="ctrl.vpm"></ng-odometer><a class="btn accent px1 py0"><img src="information-button.svg" id="vpm" alt="(?)" class="width-1rem"></a> -->
                Peak Votes per Minute: <ng-odometer value="ctrl.peakvpm"></ng-odometer><a class="btn accent px1 py0"><img src="information-button.svg" id="vpm" alt="(?)" class="width-1rem"></a>
            </p>
            <p class="py1">
                Total Votes: <ng-odometer value="ctrl.getinfo.n_votes"></ng-odometer>
            </p>
            <p class="py1">
                Total Pallets: <ng-odometer value="ctrl.getinfo.n_pallets"></ng-odometer><a class="btn accent px1 py0"><img src="information-button.svg" id="pallets" alt="(?)" class="width-1rem"></a>
            </p>
            <p class="py1">
                Equivalent Elections Counted:
            </p>
        </div>

        <div class="h2 mt2">
            <span class="containerBox">
                <span class="text-box">
                    <p class="actual-text">{{ ctrl.nationCount.aus }}x</p>
                </span>
                <img src="aus.svg" alt="Australia" class="width-8rem mx2">
            </span>
            <span class="containerBox">
                <span class="text-box">
                    <p class="actual-text"> {{ ctrl.nationCount.usa }}x</p>
                </span>
                <img src="usa.svg" alt="USA" class="width-10rem mx2">
            </span>
            <span class="containerBox">
                <span class="text-box">
                    <p class="actual-text">{{ ctrl.nationCount.eur }}x</p>
                </span>
                <img src="europe.svg" alt="Europe" class="width-9rem mx2">
            </span>
            <span class="containerBox">
                <span class="text-box">
                    <p class="actual-text">{{ ctrl.nationCount.ind }}x</p>
                </span>
                <img src="india.svg" alt="India" class="width-8rem mx2">
            </span>
        </div>

        <div class="nav h4 mt1 mr6">
            <a class="btn accent" id="flux">Flux</a>
            <a class="btn accent" id="xo1">XO.1</a>
            <a class="btn accent" id="secure.vote">SecureVote</a>
            <a class="btn accent" id="txs">Recent TXs</a>
            <a class="btn accent" target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/r/Bitcoin/comments/5xkvc1/psa_were_running_a_stress_test_of_our_blockchain/">Reddit Post</a>
            <a class="btn accent" target="_blank" rel="noopener noreferrer" href="https://secure.vote/jobs.html" id="jobs">Jobs</a>
            <a class="btn accent" target="_blank" rel="noopener noreferrer" href="https://secure.vote/fundus.html" id="fund">Fund Us</a>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content-flux black" id="flux-content">
            <div class="center">
                <img src="flux-mark.svg" alt="FLUX LOGO" class="width-8rem">
                <br>
                <img src="flux-text-logo.svg" alt="FLUX" class="width-8rem">
            </div>
            <p>
                The Flux Movement is a global political movement aiming to bring in Issue Based Direct Democracy (IBDD) over the
                top of Representative Democracy. IBDD is unlike any other democratic system because it biases objectively
                true knowledge, instead of measuring majoritarian preference. This will result in faster, better decision-making,
                a higher quality of life for citizens, better social and economic policies, etc.
            </p>
            <p>
                Practically this means Flux is a gateway for voters to participate directly in Parliament or Congress,
                paving the way to democracy without authority.
                Elected Flux Representatives and Senators give up their autonomy and use their votes in line with the
                outcomes produced by the Flux ecosystem; an ecosystem comprised of ordinary people like you.
            </p>
            <p class="center h4"><a href="https://voteflux.org" target="_blank">Learn More</a></p>
          </div>
          <div class="modal-content black" id="xo1-content">
            <p class="h2 center">XO.<span class="blue">1</span></p>
            <!-- TODO: content for XO.1 -->
            <p>
                XO.1 is a tech startup founded in Sydney by Max Kaye and Nathan Spataro focused on developing SecureVote,
                the worlds first secure and highly scalable online voting system.
            </p>
            <p class="center h4"><a href="https://xo1.io" target="_blank">Learn More</a></p>
          </div>
          <div class="modal-content black" id="secure.vote-content">
            <p class="h2 center">Secure<span class="blue">V</span>ote</p>
            <p>
                SecureVote is the world's first high capacity, secure, general purpose, end to end verifiable voting system.
                SecureVote's proprietary vote anonymising algorithm, 'Copperfield', ensures that all votes cast can never be
                traced to the voters who cast them, even by XO.1. SecureVote's innovative solutions to the challenges of
                internet voting will enable leaps and bounds in democratic participation globally.
            </p>
            <p class="center h4"><a href="https://secure.vote/" target="_blank">Learn More</a></p>
          </div>
          <div class="modal-content black" id="txs-content">
            <p class="h2 center">Recent TXs</p>
            <ul style="list-style: none;">
                <li ng-repeat="txid in ctrl.txs track by $index">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.blocktrail.com/BTC/tx/{{txid}}">{{txid | limitTo:30}}...</a>
                </li>
            </ul>
          </div>
          <div class="modal-content black" id="vpm-content">
            <p>
                This is the number of voters per minute as verified by this node. Because of the way Bitcoin works it doesn't
                necessarily correlate to the rate at which votes are <em>cast</em>.
            </p>
          </div>
          <div class="modal-content black" id="pallets-content">
            <p>
                Pallets are our way of storing votes on the Bitcoin blockchain. They can vary in size, but
                for this stress test each pallet contains around 140,000 votes.
            </p>
          </div>
        </div>
    </div>
</div>

<script src="jquery-1.12.0.min.js"></script>
<script src="lodash.core.js"></script>
<script src="angular.js"></script>
<script src="angular-odometer.min.js"></script>  <!-- https://github.com/bahaaldine/angular-odometer -->
<script src="odometer.min.js"></script> <!-- http://github.hubspot.com/odometer/ -->
<script src="plotly-latest.min.js"></script>
<!-- TweenLite -->
<script src="greensock-js/TweenLite.min.js"></script>
<script src="greensock-js/CSSPlugin.min.js"></script>
<script src="greensock-js/EasePack.min.js"></script>
<!--  -->
<script src="utils.js"></script>
<script src="fireworks.js"></script>
<script src="tres-comas.js"></script>
<script src="svst.js"></script>
<script src="main.js"></script>

</body>
</html>
