.height-100 {
	height:100%;
}

.h1 {
	font-family: "LatoLatinWebLight";
	font-size: 3.5em;
}

.h2 {
	font-family: "LatoLatinWebLight";
	font-size: 2.5em;
}

.h3 {
	font-family: "LatoLatinWebLight";
	font-size: 2.2em;
}

.h4 {
	font-family: "LatoLatinWebLight";
	font-size: 1.6em;
}

.bg {
	background-color: #000;
}

.mr6 {
	margin-right: 6rem;
}

.width-10rem {
	width: 12rem;
}

.width-9rem {
	width: 9rem;
}

.width-2rem {
	width: 2rem;
}

.width-1rem {
	width: 1.5rem;
}

.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.actual-text {
    display: inline-block;
    text-shadow: 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000, 0px 0px 4px #000;
}

.btn {
	border: none;
}

body {
	min-height: 100vh;
/*	background-image:url('stars.jpg');
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
.modal-content-flux {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
